

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/IRANSansWeb(FaNum)_Bold.eot');
	src: url('../fonts/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  
		 url('../fonts/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  
		 url('../fonts/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  
		 url('../fonts/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
 @font-face {
 	font-family: IRANSans;
 	font-style: normal;
 	font-weight: 500;
 	src: url('../fonts/IRANSansWeb(FaNum)_Medium.eot');
 	src: url('../fonts/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),
 		 url('../fonts/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),
 		 url('../fonts/IRANSansWeb(FaNum)_Medium.woff') format('woff'),
 		 url('../fonts/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
 }
 @font-face {
 	font-family: IRANSans;
 	font-style: normal;
 	font-weight: 300;
 	src: url('../fonts/IRANSansWeb(FaNum)_Light.eot');
 	src: url('../fonts/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),
 		 url('../fonts/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
 		 url('../fonts/IRANSansWeb(FaNum)_Light.woff') format('woff'),
 		 url('../fonts/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
 }

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/IRANSansWeb(FaNum).eot');
	src: url('../fonts/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
		 url('../fonts/IRANSansWeb(FaNum).woff2') format('woff2'),
		 url('../fonts/IRANSansWeb(FaNum).woff') format('woff'),
		 url('../fonts/IRANSansWeb(FaNum).ttf') format('truetype');
}


