


@mixin inline-list-table($height: 50px, $hover-color: $brand-primary, $hover-bg: $nav-link-hover-bg, $padding: $padding-base-horizontal){
	display: table;
	table-layout: fixed;
	height: $height;
	line-height: $height;
	list-style-type: none;
	//margin: 0  $padding*-1;
	li{
		display: table-cell;
		line-height: $height;
		height: $height;
		a{
			line-height: $height;
			display: block;
			padding: 0 $padding;
			text-align: center;
			transition: all 0.3s ease;
			&:hover{
				color: $hover-color;
				background-color: $hover-bg;
			}
		}
		/*
		&:first-child{
			a{  padding-right: 0;  }
		}
		&:last-child{
			a{  padding-left: 0;  }
		}
		*/
	}
}

@mixin fa($font-size: 14px, $line-height: 1){
	display: inline-block;
	font: normal normal normal #{$font-size}/#{$line-height} FontAwesome;
	//font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: middle;
}

@mixin bars-btn($width: 40px, $height: 40px, $stroke: 2px, $bg: #fff, $active: 'active'){

	&, &:before, &:after{
		display: block;
		position: absolute;
		right: 0;
		width: $width;
		height: $stroke;
		background-color: $bg;
		border-radius: 2px;
		@include transition(all 0.3s ease-out);
	}
	top: 50%;
	margin-top: -($stroke/2);

	&:before, &:after{
		content: '';
	}
	&:before{
		top: - (($height/2) - $stroke);
	}
	&:after{
		bottom: - (($height/2) - $stroke);
	}

	&.#{$active}{
		background-color: transparent;

		@include rotate(-90deg);
		&, &:before, &:after{
			height: ($stroke/2);
		}
		&:before{
			@include rotate(135deg);
			top: 0;
		}
		&:after{
			@include rotate(-135deg);
			bottom: 0;
		}
	}
}

@mixin brand-loop($prefix: '', $properties: ''){
	$brand-list: primary success info warning danger;
	$brand: $brand-primary $brand-success $brand-info $brand-warning $brand-danger;
	@each $item in $brand-list {
		$index: index($brand-list, $item);
		#{$prefix}#{$item} {
			@each $prop in $properties{
				#{$prop}: nth($brand, $index);
			}
		}
	}
}