@import "font";
@import "bootstrap-rtl/bootstrap";
@import "owl";
@import "mixins";


ul,ol,li{
    list-style: none;
    padding: 0;
    margin: 0;
}

a,a:hover,a:focus{
    text-decoration: none;
    transition:color .2s ease;
}
a:hover,a:focus{
	text-decoration: none;
	transition:color .2s ease;
	color: lighten($brand-primary, 5%);
}

input:focus {
	transition: background-color .3s ease-in-out .3s;
}

/*====================================================
	utilities
====================================================*/
html,body{
	background-color: $gray-lighter;
	min-height: 100%;
	margin: 0;
	padding: 0;
	direction: rtl;
	font-weight: 300;
}

a,
button,
input[type="button"],
input[type="submit"],
.btn{
	&:focus,
	&:active,
	&:active:focus{
		outline: none;
	}
}

.text-overflow-ellipsis{
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.fa{  vertical-align: middle;  }

.en{  font-family: monospace,Tahoma;  }

.vm{ vertical-align: middle }

.inline-block{ display: inline-block; }

.bg-white{  background-color: white;  }

.border-top{  border-top: dashed 1px #bfbfbf;  }

.border-bottom{  border-bottom: dashed 1px #bfbfbf;  }

.border-left{  border-left: dashed 1px #bfbfbf;  }

.border-right{  border-right: dashed 1px #bfbfbf;  }

.border-bottom-primary{  border-bottom-color: $brand-primary;  }

.text-gray{  color: #444;  }


.hover-white:hover{  color: white;  }
.hover-info:hover{  color: $brand-info;  }
.hover-success:hover{  color: $brand-success;  }
.hover-danger:hover{  color: $brand-danger;  }
.hover-warning:hover{  color: $brand-warning;  }
.hover-primary:hover{  color: $brand-primary;  }


.loading {
	&:after{
		margin: auto;
		position: relative;
		display: inline-block;
		border:  0.1em solid rgba(255, 255, 255, 0.2);
		border-left-color: #ffffff;
		animation: load 1.1s infinite linear;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		content: '';

		border-radius: 50%;
		width: 1.2em;
		height: 1.2em;
	}

	&.vm:after {
		-webkit-transform: translate3d(0, -50%, 0);
		transform: translate3d(0, -50%, 0);
		animation: load-vm 1.1s infinite linear;
	}

	&.center:after {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	&.h1:after {
		border-width: 1em;
		width: 6em;
		height: 6em;
	}

	&.h2:after {
		border-width: .8em;
		width: 5em;
		height: 5em;
	}

	&.h3:after {
		border-width: .7em;
		width: 4em;
		height: 4em;
	}

	&.h4:after {
		border-width: .5em;
		width: 3em;
		height: 3em;
	}

	&.h5:after {
		border-width: .4em;
		width: 2em;
		height: 2em;
	}

	&.h6:after {
		border-width: .2em;
		width: 1em;
		height: 1em;
	}

	&.primary:after {
		border-color: fade($brand-primary, 30%);
		border-left-color: $brand-primary;
	}

	&.info:after {
		border-color: fade($brand-info, 30%);
		border-left-color: $brand-info;
	}

	&.success:after {
		border-color: fade($brand-success, 30%);
		border-left-color: $brand-success;
	}

	&.warning:after {
		border-color: fade($brand-warning, 30%);
		border-left-color: $brand-warning;
	}

	&.danger:after {
		border-color: fade($brand-danger, 30%);
		border-left-color: $brand-danger;
	}

	&.green:after {
		border-color: rgba(0, 204, 102, 0.4);
		border-left-color: #00cc66;
	}

	&.blue:after {
		border-color: rgba(0, 191, 242, 0.4);
		border-left-color: #00bff2;
	}

	&.red:after {
		border-color: rgba(232, 0, 0, 0.4);
		border-left-color: #e80000;
	}

	&.gray:after {
		border-color: rgba(102, 102, 102, 0.4);
		border-left-color: #666666;
	}

	&.yellow:after {
		border-color: rgba(255, 255, 0, 0.4);
		border-left-color: #ffff00;
	}

	&.orange:after {
		border-color: rgba(255, 51, 0, 0.4);
		border-left-color: #ff3300;
	}

	&.pink:after {
		border-color: rgba(255, 0, 126, 0.4);
		border-left-color: #ff007e;
	}

	&.w:after {
		border-color: rgba(255, 255, 255, 0.4);
		border-left-color: #ffffff;
	}
}
.loading-on-corner{
	position: relative;
	padding-left:  2.1em;
	&:after{
		position: absolute;
		top: 50%;
		margin-top: -0.6em;
		left:3px;
	}
}



@keyframes load {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load-vm {
	0% {
		transform: translateY(-50%) rotate(0deg);
	}
	100% {
		transform: translateY(-50%) rotate(360deg);
	}
}


/*====================================================
	header
====================================================*/
$nav-height: 40px;
$nav-breakpoint: $screen-sm;

#header{
	background-color: #fff;
	border-bottom: solid 1px $brand-primary;
	@include box-shadow(0 0 10px rgba(0, 0, 0, 0.23));

	.header-col{
		padding-top: 30px;
		@media only screen and (max-width: $screen-sm-max) {
			padding-top: 15px;
			text-align: center;
		}
		.btn{
			border-radius: 4px;
		}
	}

	.search-form{
		.form-control{
			border-radius: 0 4px 4px 0;
			&:not(:focus){
				border-left: 0;
			}
		}
		.btn{
			border-radius: 4px 0 0 4px;
		}
	}

	.header-top{
		@extend .clearfix;
		.site-logo{
			max-height: 100px;
			max-width: 100%;
			//float: right;
			//margin-left: 20px;

			@media only screen and (max-width: $screen-phone) {
				display: block;
				margin: auto;
			}
		}
		.site-name{
			line-height: 100px;
			margin: 0;
			text-shadow: -2px 4px 10px rgba(0, 0, 0, 0.25);
			font-weight: 700;
			color: $brand-primary;
		}
	}
	.main-nav{
		margin-top: 5px;
		border-top: solid 1px $brand-primary;

		ul{
			@include inline-list-table($nav-height, $brand-primary, #f2f2f2);
			a{
				color: $gray-light;
			}

			.has-sub-menu{
				position: relative;
				a{
					padding-left: 35px;
				}
				.toggle-sub-menu{
					position: absolute;
					top: 0;
					left: 0;
					width: 30px;
					text-align: center;
					font-size: 14px;
					border-right: solid 1px transparent;
				}
				@media only screen and (min-width: $screen-sm-min) {
					&:hover {
						> a {
							background-color: #eee;
						}
						> .toggle-sub-menu {
							color: $brand-primary;
							border-right-color: #ddd;
						}
					}
				}
			}//=== has-sub-menu
			ul {
				border: solid 1px #ddd;
				border-top-color: #ff7a03;
				@media only screen and (max-width: $screen-xs-max) {
					border-top: 0 !important;
					padding-left: 50px;
					padding-right: 50px;
				}
				position: absolute;
				top: 0;
				right: 100%;
				background-color: #fff;
				z-index: 5;
				min-width: 150px;
				max-width: 250px;
				opacity: 0;
				visibility: hidden;
				height: auto;
				@include transition(a11 0.2s linear);
				li{
					display: block;
					a {
						text-align: right;
						@include text-overflow();
					}
					&, a, span{
						height: 30px;
						line-height: 30px;
						@include transition(all 0.2s linear);
					}
				}
			}//=== ul
			&.main-nav-ul{
				> li > ul {
					top: 100%;
					right: 0;
					> li:first-child > ul {
						@media only screen and (min-width: $screen-sm-min) {
							border-top: 0 !important;
						}
					}
				}
			}
			li {
				position: relative;
				@media only screen and (min-width: $screen-sm-min) {
					&:hover{
						> ul {
							opacity: 1;
							visibility: visible;
							> li {
								&, > a, > span{
									height: 40px;
									line-height: 40px;
								}
							}
						}
					}
				}
			}//=== li
		}//=== ul


		@media only screen and (max-width: $screen-xs-max) {
			.main-nav-ul{
				&, ul {
					display: none;
				}
			}//=== main-nav-ul
			&.open{
				.main-nav-ul{
					display: block;
					height: auto;
					margin: 0 -15px;
					li{
						display: block;
					}
				}//=== main-nav-ul
			}//=== .main-nav.open

			ul{
				position: static;
				background-color: transparent !important;
				a{ padding-left: 55px; }
				.has-sub-menu{
					a{  }
					.toggle-sub-menu{  font-size: 16px; width: 50px;  }
					&.open{
						background-color: rgba(0,0,0,0.05);
						> a {  background-color: rgba(0,0,0,0.02); }
						> .toggle-sub-menu{
							border-right-color: #fff;
						}
					}
				}//=== has-sub-menu
				ul {
					border-width: 0;
					border-top-width: 1px;
					position: static;
					max-width: 100%;
					opacity: 1;
					visibility: visible;
					li{
						background-color: transparent;
						height: auto;
						a {  text-align: center;  }
						&, a, span{
							line-height: 40px;
						}
						a, span{
							height: 40px;
						}
					}
				}//=== ul
				&.main-nav-ul > li > ul {  }
				li {
					&.open{
						height: auto;
						> ul {
							display: block;
							> li {
								height: auto;
								> a, > span{
									height: 40px;
								}
							}
						}
					}
				}//=== li
			}//=== ul

		}//=== media
	}//=== main-nav

	.toggle-nav-wrapper{
		height: 40px;
		width: 40px;
		position: relative;
		.toggle-nav{
			@include bars-btn(26px, 26px, 2px, $brand-primary, 'open');
		}//=== toggle-nav
	}//=== toggle-nav-wrapper


}




/*====================================================
	page-header-section
====================================================*/
.page-header-section{
	//background: url(../images/header-bg-primary.jpg) no-repeat center 40%;
	//background-size: cover;
	padding: 100px 0;
	text-align: center;
	margin-bottom: 20px;
	//background: linear-gradient(141deg, $brand-primary, $brand-warning 71%, $brand-primary);
	position: relative;
	color: #fff;

	&:before{
		background-position: 0 0;
		background-size: 1000px;
		background-image: url(../images/background-icons.jpg);
		position: absolute;
		height: 100%;
		display: block;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		content: "";
		opacity: .09;
		pointer-events: none;
		//background-attachment: fixed;
	}
}



/*====================================================
	main
====================================================*/
#main{ margin-top: 30px }

.search-form-large{

}


/*====================================================
	page title
====================================================*/
$page-title-height: 50px;
$page-title-color: $brand-primary;

.page-title{
	line-height: $page-title-height;
	background-color: #fff;
	margin: 0 0 20px;
	padding: 0 40px 0 15px;
	color: $gray-light;
	font-weight: bold;
	font-size: 17px;
	position: relative;
	@include box-shadow(0 0 3px rgba(0,0,0,0.2));
	&:before, &:after{
		display: inline-block;
		width: 1px;
		content: '';
		padding: 0 2px;
		border-right: solid 1px $page-title-color;
		border-left: solid 1px $page-title-color;
		background-color: #fff;
		vertical-align: middle;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
	}
	&:before{
		border-right-width: 5px;
		border-left-width: 4px;
	}
	&:after{
		right: 17px;
		border-right-width: 3px;
		border-left-width: 2px;
	}

	@media (max-width: $screen-xs-max) {
		line-height: 30px;
		font-size: 15px;
	}

	&.info{
		&:before, &:after{
			border-right-color: $brand-info;
			border-left-color: $brand-info;
		}
	}
	&.warning{
		&:before, &:after{
			border-right-color: $brand-warning;
			border-left-color: $brand-warning;
		}
	}
	&.danger{
		&:before, &:after{
			border-right-color: $brand-danger;
			border-left-color: $brand-danger;
		}
	}
	&.success{
		&:before, &:after{
			border-right-color: $brand-success;
			border-left-color: $brand-success;
		}
	}


	&.bevel{
		overflow: hidden;
		&:before, &:after {
			right: 6px;
			transform: rotate(-45deg);
			transform-origin: top left;
			bottom: -50px;
		}
		&.page-title:after {  right: 29px;  }
	}

}
.box .page-title{
	box-shadow: none;
	margin-bottom: 0;
}

/*====================================================
	author
====================================================*/
.author-info{
	@extend .clearfix;
	padding: 0 100px 0 40px;
	position: relative;
	.author-avatar{
		float: right;
		margin-right: -100px;
		width: 90px;
		height: 90px;
	}
	.social-list{
		display: block;
		position: absolute;
		width: 30px;
		top:0;
		left:0;
		bottom:0;
		li{
			display: block;
			line-height: 30px;
			text-align: center;
			a{
				display: block;
				width: 100%;
				height: 100%;
				color: #999;
				@include transition(all 0.4s ease);
				&:hover{
					background-color: $brand-warning;
					color: #fff;
				}
				.fa{
					vertical-align: middle;
					line-height: inherit;
				}
			}
		}
		@include transition(background-color 0.4s ease);
		&:hover{
			background-color: #eee;
		}
	}

	&.author-top{

	}
}




/*====================================================
	tags
====================================================*/
.tags{
	border-top: dashed 1px #bfbfbf;
	padding-top: 10px;
	a{
		line-height: 22px;
		display: inline-block;
		padding: 0 10px;
		background-color: #fff;
		border-radius: 20px;
		font-size: 11px;
		border: solid 1px #eee;
		//@include box-shadow(0 1px 2px rgba(0, 0, 0, 0.3) inset, 0 1px 3px rgba(0,0,0,0));
		@include transition(all 0.3s ease !important);
		&:hover{
			@include box-shadow(0 1px 2px rgba(0, 0, 0, 0) inset, 0 1px 3px rgba(0,0,0,0.2));
		}
	}
	.fa{
		line-height: 22px;
		margin-left: 15px;
	}
}




/*====================================================
	article list
====================================================*/
.article-list{
	.article{
		&:not(:last-child) .content{
			border-bottom: dashed 1px #bfbfbf;
		}
		.article-title{
			//max-height: 38px;
			//overflow: hidden;
			a{
				color: inherit;
				&:hover{
					color: $link-color;
				}
			}
		}
		.article-img{
			float: right;
			width: 225px;
			height: 150px;
			vertical-align: middle;
			background-color: #fff;
			@media (max-width: $screen-xs-max) {
				float: none;
				margin-bottom: 15px;
				width: 100%;
				height: auto;
			}
		}
		.content{
			padding: 15px;
		}
		&.has-thumb{
			.content{
				@media screen and (min-width: $screen-sm-min) {
					//padding-bottom: 0;
					position: relative;
					height: 150px;
					overflow: hidden;
					box-shadow: inset 0 -20px 3px #fff;
					.read-more{
						font-size: 12px;
						@media only screen and (min-width: $screen-sm-min) {
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							display: block;
							text-align: left;
							padding: 8px 15px;
							background-color: #fff;
							color: #fff;
						}
					}
				}
				&:not(:last-child) .content{
					padding-bottom: 20px;
				}
			}
			&:hover{
				.read-more{
					color: $brand-primary;
				}
			}
		}
	}
}



/*====================================================
	article
====================================================*/
.article{
	.article-icon{
		float: right;
		width: 80px;
		height: 80px;
		text-align: center;
		font-size: 40px;
		line-height: 80px;
		background-color: rgba(0,0,0,0.02);
		color: $brand-primary;
		@include transition(all 0.2s ease);
		@include brand-loop('&.', color);
	}
	&:hover{
		.article-icon{
			background-color: rgba(0,0,0,0.1);
		}
	}
	&.border-bottom:last-of-type{
		border-bottom: none;
	}
	.article-img{
		img{
			max-width: 100%;
			max-height: 100%;
		}
	}
}



/*====================================================
	video-overlay
====================================================*/
.video-overlay{
	position: relative;

	&:before{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0, 0.4);
		opacity: 0;
		z-index: 10;
		content: '';
		@include transition(all 0.3s ease);
	}
	&:after{
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate(-50%, -50%);
		color: #fff;
		opacity: 0.6;
		@include fa(23px);
		content: "\f144";
		z-index: 11;
		@include transition(all 0.1s linear);
	}

	&:hover{
		&:before{ opacity: 1; }
		&:after{
			opacity: 1;
			color: $brand-primary;
			font-size: 30px;
		}
	}
	&.info:hover:after{ color: $brand-info }
	&.warning:hover:after{ color: $brand-warning }
	&.success:hover:after{ color: $brand-success }
	&.danger:hover:after{ color: $brand-danger }

}


.full-story{
	padding: 10px;
	line-height: 1.7;
	h1, h2, h3, h4, h5, h6{
		font-weight: 600;
		margin-top: 30px;
	}
}

.next-prev-article{
	> .row {
		> div {

			img { width: 150px; height:150px; float: right; margin-left: 15px; }
			p{ color: $text-muted; font-size: 11px;margin: 15px 0; }
			h3{ color: #444; font-size: 15px;margin: 0 }
			@media only screen and(min-width: $screen-sm-min) {
				&:first-child{
					text-align: right;

				}
				&:last-child{
					text-align: left;
					img {
						float: left;
						margin-left: 0;
						margin-right: 15px;
					}
				}
			}
			@media only screen and(max-width: $screen-xs-max) {
				clear: both;
				img{
					width: 100px;
					height: 100px;
				}
				p{ margin: 0 0 15px; padding-top: 15px }
				&:last-child{
					//margin-top: 15px;
					border-top: solid 1px #eee;
				}
			}
		}
	}
}

.relative-articles{
	p{
		margin: 10px 0 0;
		padding: 0 5px;
		color: $text-muted;
		font-size: 11px;
	}
	h3{
		font-size: 14px;
		margin-top: 5px;
		line-height: 20px;
		padding: 0 5px;
	}
}

.title-over{
	position: relative;
	.article-title{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		display: block;
		padding: 5px 15px;
		background-color: rgba(0,0,0,0.4);
		color: #fff;
		margin: 0;
	}
}

.box .body > .article:last-child{
	margin-bottom: 0;
}

/*====================================================
	slider
====================================================*/
.main-slider{
	position: relative;

	&:before{
		padding-bottom: (2/7)*100%;
		content: '';
		display: block;
		width: 100%;
	}

	.slider-item{
		position: absolute;
		overflow: hidden;
		top: 0;
		right: 0;
		width: 25%;
		height: 50%;
		background-size: cover;
		background-position: center;
		img{  visibility: hidden; }
		.title{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			display: block;
			padding: 15px;
			color: #fff;
			margin: 0;
			font-size: 11px;
			opacity: 0.6;
			z-index: 50;
		}
		.go-to-item{
			position: absolute;
			top: 0;
			left: 0;
			width: 36px;
			height: 36px;
			line-height: 36px;
			text-align: center;
			font-size: 22px;
			color: #fff;
			text-shadow: 0 0 1px #000;
			//opacity: 0;
			@include scale(0,0);
			@include transition(all 0.3s linear);
		}

		&.hover:not([data-index="0"]) .go-to-item{
			@include transition(all 0.5s cubic-bezier(0, 0, 0.18, 2));
			@include scale(1,1);
		}

		&[data-index="0"]{
			height: 100%;
			width:  50%;
			//@include animation(bg-move 4s ease-in forwards);
			.title{  opacity: 1; font-size: 13px; visibility: visible; }
		}

		&[data-index="1"]{  right: 50%;  top:0;  }
		&[data-index="2"]{  right: 75%;  top: 0;  }
		&[data-index="3"]{  right: 75%;  top: 50%;  }
		&[data-index="4"]{  right: 50%;  top: 50%;  }
		&.sidebar-item-hidden{  opacity: 0;  visibility: hidden;  }

		&:after{
			position: absolute;
			top: 50%;
			bottom: 0;
			right: 0;
			left: 0;
			width: 100%;
			content: '';
			z-index: 10;
			background: rgba(0,0,0, 0.1);
			background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(254,254,254,0) 48%, rgba(0,0,0,0.6) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(48%, rgba(254,254,254,0)), color-stop(100%, rgba(0,0,0,0.6)));
			background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(254,254,254,0) 48%, rgba(0,0,0,0.6) 100%);
			background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(254,254,254,0) 48%, rgba(0,0,0,0.6) 100%);
			background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(254,254,254,0) 48%, rgba(0,0,0,0.6) 100%);
			background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(254,254,254,0) 48%, rgba(0,0,0,0.6) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
		}

		&:hover{
			.title{  opacity: 1; }
		}
	}

	@media only screen and (max-width: $screen-xs-max) {
		&:before{  padding-bottom: (4/8)*100%; }
		.slider-item{
			width: 30%;
			height: 25%;
			.title{ opacity: 0;visibility: hidden; }
			&[data-index="0"]{  height: 100%;  width:  70%;  }
			&[data-index="1"]{  top: 0;   right: 70%; }
			&[data-index="2"]{  top: 25%; right: 70%; }
			&[data-index="3"]{  top: 50%; right: 70%;  }
			&[data-index="4"]{  top: 75%; right: 70%;  }
			&:not([data-index="0"]) .go-to-item{
				@include scale(1,1);
			}
			.go-to-item{
				width: 50px;
				height: 50px;
				line-height: 50px;
				top: 50%;
				left: 50%;
				margin-top: -25px;
				margin-left: -25px;
				z-index: 55;
			}
		}
	}
	&.loaded{
		.slider-item {
			@include transition(all 1s ease-in-out);
		}
	}
}

@keyframes bg-move {
	0%{ background-position: 0 0 }
	100% { background-position: 100% 100% }
}


/*====================================================
	sidebar
====================================================*/
.sidebar{  }

.box{
	background-color: #fff;
	//border: solid 1px #ddd;
	@include box-shadow(0 0 3px rgba(0,0,0,0.2));
	header{
		line-height: 50px;
		border-bottom: solid 1px #ddd;
		padding: 0 15px;
		color: $gray-light;
		font-weight: bold;
		@extend .text-overflow-ellipsis;
	}
	.body{
		padding: 15px;
	}
}

/*====================================================
	last news
====================================================*/
.last-news{
	.article{
		@extend .clearfix;
		height: 80px;
		overflow: hidden;
		.article-img{
			width: 80px;
			height: 80px;
			float: right;
			margin-left: 15px;
			vertical-align: middle;
			//border: 1px solid #eee;
		}
		.article-title{
			padding-left: 10px;
			text-align: justify;
			max-height: 52px;
			overflow: hidden;
		}
		a:not(:hover){
			color: inherit;
		}
		&:hover{
			background-color: rgba(0, 0, 0, 0.05);
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
}

/*====================================================
	comments
====================================================*/
.comment-form{
	.form-control:focus{
		border-color: $brand-warning;
	}
	textarea{
		resize: vertical;
		min-height: 125px;
	}
}
.comments{
	.comment-item{
		padding-right: 50px;
		position: relative;
		&:before{
			@include fa(37px, 50px);
			color: #ddd;
			content: "\f2be";
			position: absolute;
			top: -5px;
			right: 0;
			width: 50px;
			text-align: center;
			vertical-align: middle;
		}

		@media (max-width: $screen-xs-max) {
			padding-right: 30px;
			&:before{
				@include fa(22px, 30px);
				top: -3px;
				width: 30px;
			}
		}

		&:not(:last-child){
			margin-bottom: 20px;
			padding-bottom: 20px;
			@extend .border-bottom;
		}
	}
}


/*====================================================
	footer
====================================================*/
$footer-item-bg: rgba(114,114,114,0.1);

#footer{
	background-color: $gray-dark;
	color: #989898;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;

	hr{
		display: block;
		content: '';
		transition: border-color 0.2s ease-out;
		border-top: dashed 1px #5a5a5a;
	}

	&:after{
		 border-bottom: dashed 1px #797979;
		 height: 20px;
	}
	&:hover{
		hr{
			//border-color: $brand-primary;
		}
	}
	.footer-logo{
		max-width: 100%;
		max-height: 200px;
		display: block;
		margin: auto;
	}
	.section-title{
		border-bottom: solid 1px rgba(255, 255, 255, 0.051);
		@include box-shadow(0 1px rgba(0, 0, 0, 0.2));
		margin-top: 0;
		padding-bottom: 10px;
		margin-bottom: 10px;
		font-weight: 300;
		font-size: 14px;
	}

	.social-list{
		//margin: 0 $padding-base-horizontal*-1;
		li a{
			min-width: 50px;
		}
		.fa:before{
			font-size: 25px;
			line-height: 50px;
			vertical-align: middle;
		}
		@include inline-list-table(50px, inherit, $footer-item-bg);
	}

	.link-list{
		li{
			&:not(:last-child){
				a{
					border-bottom: solid 1px $footer-item-bg;
				}
				//margin-bottom: 5px;
			}
			a{
				line-height: 40px;
				padding-left: $padding-base-horizontal;
				padding-right: 0;

				@extend .text-overflow-ellipsis;
				&:hover{
					color: inherit;
					background-color: $footer-item-bg;
				}
				&:before{
					@include fa(16px, 40px);
					content: '\f100';
					margin-left: 5px;
					//background-color: $footer-item-bg;
					padding: 0 15px;
				}
				transition: all 0.2s ease;
			}
		}
	}

	.contact-us-info{
		.fa{  width: 30px;  }
	}

	a{
		&:hover{  color: inherit;  }
	}
}


/*====================================================
	margin - padding - font
====================================================*/

@for $i from 0 to 21 {
	.mt-#{$i*5}:nth-child(n) {  margin-top: #{$i*5}px; }
	.mr-#{$i*5}:nth-child(n) {  margin-right: #{$i*5}px; }
	.mb-#{$i*5}:nth-child(n) {  margin-bottom: #{$i*5}px; }
	.ml-#{$i*5}:nth-child(n) {  margin-left: #{$i*5}px; }

	.pt-#{$i*5}:nth-child(n) {  padding-top: #{$i*5}px; }
	.pr-#{$i*5}:nth-child(n) {  padding-right: #{$i*5}px; }
	.pb-#{$i*5}:nth-child(n) {  padding-bottom: #{$i*5}px; }
	.pl-#{$i*5}:nth-child(n) {  padding-left: #{$i*5}px; }
}

@for $i from 8 to 41{
	.font-#{$i}:nth-child(n) {  font-size: #{$i}px;  }
}