@mixin single-side-border-radius($side, $radius) {
	border-bottom-#{$side}-radius: $radius;
    border-top-#{$side}-radius: $radius;
}

/**
 * helpers use in float,text-align, padding, margin, etc.
 */
$direction: rtl;
$dir-mode-align: right;
$dir-mode-align-inverse: left;
$dir-mode-font-size-base: 13px;

//** font settings

$dir-mode-font-family-sans-serif: IRANSans, Helvetica, tahoma, Helvetica, Arial, sans-serif ;
$dir-mode-font-family-serif:   IRANSans, Georgia, "Times New Roman", Times, serif ;

